{:deps {:aliases [:cljs]}
 :dev-http {8088 ["examples" "dist"]}
 :builds
 {:playground
  {:target     :browser
   :output-dir "dist/playground"
   :asset-path "/dist/playground"
   :modules    {:playground {:init-fn katzen.playground/init!}}
   :devtools   {:watch-dir "examples"}}}}
